<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1>Tests</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </thead>

    <tbody>
      <% @tests.each do |test| %>
        <tr>
          <td><%= test.name %></td>
          <td><%= test.position %></td>
          <td><%= test.office %></td>
          <td><%= test.age %></td>
          <td><%= test.start_date %></td>
          <td><%= test.salary %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
